body{
    background: linear-gradient(to top,rgb(168, 165, 165),white);
}
.tous{
    margin: 10%;
    box-shadow: 0px 0px 20px;
}
.header{
    background-image:url(image/IMG-20260411-WA0018.jpg) ;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    
}
header{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
nav>a{
    text-decoration: none;
    color: black;
    margin: 0px 4px;
}nav>a:hover{
    text-decoration: underline;
}
.image{
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: white;
}
.start{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 0px 20px;
    border-radius: 20px;
}
.centre{
    text-align: center;
}
.autre{
    margin: 0px 60px;
}
.marchandise{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.image1{
    background-image: url(image/IMG-20260413-WA0034.jpg);
    margin-right: 10px;
}
.image11{
    background-image: url(image/IMG-20260413-WA0036.jpg);
}
.image12{
    background-image: url(image/IMG-20260413-WA0038.jpg);
    margin-top: 10px;
}
.im{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    color: white;
}
.image2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}
.jaune{
    color: yellow;
}
.p{
    font-size: 50px;
}
footer{
    text-align: center;
}
form>a{
    position: relative;
}
form>button{
    position: absolute;
    background-color: black;
    color: white;
    padding: 0px 10px 3px;
}